* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("../ImageWithNoCSS/Acceuil.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
  position: relative;
  color: white;
}

/* Overlay sombre ambiance grotte */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

/* Contenu centré */
.container {
  position: relative;
  text-align: center;
  z-index: 1;
}

/* Titre */
h1 {
  font-size: 4rem;
  margin-bottom: 60px;
  letter-spacing: 3px;
  text-shadow: 0 0 15px orange;
}

/* Bouton PLAY */
.play-btn {
  padding: 15px 50px;
  font-size: 1.3rem;
  background: transparent;
  border: 2px solid orange;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.play-btn:hover {
  background: orange;
  color: black;
  box-shadow: 0 0 20px orange;
  transform: scale(1.1);
}
