<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hunt The Wumpus{% endblock %}</title>

    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='img/logo/icon Hunt The Wumpus.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block content %}{% endblock %}

    <!-- Demande du professeur de retiré la music a voir prochaine si on améliore ou on laisse ça comme ça ! -->

    <!--
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
    -->
    <script src="{{ url_for('static', filename='js/applySettings.js') }}"></script>

    {% block js %}{% endblock %}

</body>
</html>