{% extends "base.html" %}

{% block title %}Game - Hunt The Wumpus{% endblock %}
{% block body_class %}screen-game{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='img/logo/icon Hunt The Wumpus.jpg') }}">
{% endblock %}

{% block content %}
<div class="game">

  <div class="game_top">
  <div class="game_info">
    <div>PLAYER: {{ session.get("username","?") }}</div>
    <div>DIFFICULTY: {{ state.difficulty }}</div>
    <div>MODE: {{ state.mode }}</div>
    <div>VISION: {{ state.vision }}</div>
  </div>

  <div class="game_actions">
    <form method="POST" action="{{ url_for('new_game') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="game_btn">NEW</button>
    </form>

    <a class="game_back" href="{{ url_for('menu') }}">BACK</a>
  </div>
</div>

<div class="move_pad">
  <form method="POST" action="{{ url_for('move') }}" class="move_form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="row">
      <button name="dir" value="N" class="game_btn">N</button>
    </div>
    <div class="row">
      <button name="dir" value="W" class="game_btn">W</button>
      <button name="dir" value="S" class="game_btn">S</button>
      <button name="dir" value="E" class="game_btn">E</button>
    </div>
  </form>
</div>

  <table class="board" aria-label="Wumpus board">
    <tbody>
      {% for y in range(state.h) %}
      <tr>
        {% for x in range(state.w) %}
          {% set visible = cell_is_visible(state, x, y) %}
          {% set is_player = (state.player.x == x and state.player.y == y) %}
          <td class="cell {% if visible %}cell_seen{% else %}cell_hidden{% endif %}">
            {% if visible and is_player %}
              <div class="cell_sprite">P</div>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
{% endblock %}