{% extends "base.html" %}

{% block title %}Settings - Hunt The Wumpus{% endblock %}
{% block body_class %}screen-settings{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div id="settings">

  <!--C'est le bouton fermer je lui ai rajouté un élément cliquable-->
  <button id="closeBtn" type="button" aria-label="Fermer">x</button>

  <h1>Paramètres</h1>
  <!--c'est les paramètres qui vont géré le volume du jeu (music.js)-->
  <h2>Volume</h2>
  <div id="volume">
    <button id="playMusic" type="button">▶ Play music</button>
    <button id="pauseMusic" type="button">⏸ Pause music</button>

    <label for="musicVolume">Volume music
      <span id="musicVolumeDisplay">50%</span>
    </label>
    <input
      type="range"
      id="musicVolume"
      min="0"
      max="100"
      value="50"
    />
  </div>

  <h2>Affichage</h2>
  <!--c'est ce qui va géré l'affichage (luminosité)-->
  <div id="displayBlock">
    <label for="brightness">Luminosité
      <span id="brightnessDisplay">100%</span>
    </label>
    <input type="range" id="brightness" min="50" max="150" value="100" />
  </div>
  
  <button id="saveBtn" type="button">Sauvegarder</button>
  
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
